### Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(number):
    if str(number)==str(number)[::-1]:
        return True
    return False
is_symmetrical(12567)

False

In [2]:
is_symmetrical(44444444)

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [13]:
def multiply_nums(elements):
    l=elements.split(", ")
    mul=1
    for i in range(len(l)):
        try:
            mul=mul*int(l[i])
        except:
            return "Please put comma and space as a separator"
    try:
        return mul
    except exception as e:
        return f"there is a issue called {e}"
multiply_nums("1,2, 3, 4")

'Please put comma and space as a separator'

In [15]:
multiply_nums("10, -2")

-20

### Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

In [21]:
def square_digits(number):
    l=[]
    for i in range(len(str(number))):
        l.append(str((int(str(number)[i]))**2))
    return int("".join(l))
square_digits(2483)

416649

### Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [23]:
def setify(lists):
    return list(set(lists))
setify([4, 4, 4, 4])

[4]

### Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

In [26]:
def mean(value):
    l=[int(str(value)[i]) for i in range(len(str(value)))]
    return int(sum(l)/len(l))
mean(12345)

3